Question 1

In [ ]:
a = 'length'
b = 'width'

In [ ]:
# input function
a = int(input("enter a number"))
b = int(input("enter a number"))
A = a*b
print(A)

enter a number5
enter a number6
30

Question 2

In [ ]:
# input function
a = int(input("enter a number"))
b = int(input("enter a number"))
B = a+b
C = a-b
D = a*b
E = a%b
print(B)
print(C)
print(D)
print(E)

enter a number6
enter a number8
14
-2
48
6

Question 6

In [ ]:
n = int(input("enter a number"))
if 90<=n<=100:
   print('A')
elif 80<=n<=90:
   print('B')
elif 70<=n<=80:
   print('C')
elif 60<=n<=70:
   print('D')

enter a number92
A

Question 4

In [ ]:
m = int(input("enter a number"))
if (-m):
   print('negative')
elif (+m):
   print('positive')

enter a number-19
negative

Question 5

In [ ]:
p = int(input("enter a number"))
if (p%4):
   print('leap year')
elif (p%100):
   print('not a leap year')
else: (p%400)
print('leap year')

enter a number2025
leap year
leap year

Question 8

In [ ]:
for n in range(0,21,2):
    print(n)

0
2
4
6
8
10
12
14
16
18
20

Question 7

In [ ]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

Question 3

In [8]:
t = float(input('enter a temperature:'))
print('1.fahrenheit to celsius')
print('2.celsius to fahrenheit')
ch = int(input("enter choice 1 or 2:"))
if ch == 1:
  t1 = ((5/9)*(t-32))
elif ch == 2:
  t1 = ((9/5)*t)+32
else:
  print("wrong choice of input")
  print('t1')

enter a temperature:32
1.fahrenheit to celsius
2.celsius to fahrenheit
enter choice 1 or 2:2

Question 9

In [10]:
a = int(input('enter a number'))
for i in range(1,11):
  s = a*i
  print(s)

enter a number9
9
18
27
36
45
54
63
72
81
90